Unity/App/
Unity/Library/
Unity/Temp/
Unity/Obj/
Unity/Build/
Unity/Builds/
Unity/Assets/AssetStoreTools*
Unity/Assets/WSATestCertificate.pfx
Unity/Assets/WSATestCertificate.pfx.meta

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
Unity/UWP/Assembly-CSharp/obj/
Unity/UWP/Assembly-CSharp-firstpass/obj/
Unity/UWP/Assembly-CSharp/bin/
Unity/UWP/Assembly-CSharp-firstpass/bin/
